<ion-view>

    <ion-nav-title>
      <h1 class="title">Wybierz opcje zakupu</h1>
    </ion-nav-title>

    <ion-content>
      <div id="deliveryTemplate" class="">
        

        <ul class="list">

          <li class="item item-checkbox">
             <label class="checkbox">
               <input type="radio" name="group" value="deliveryHome">
             </label>
             Dostawa do domu
          </li>

          <li class="item item-checkbox">
             <label class="checkbox">
               <input type="radio" name="group" value="deliveryOwn">
             </label>
             Odbiór osobisty
          </li>

        </ul>


      </div>
    </ion-content>

</ion-view>