<ion-view>

    <ion-nav-title>
        <h1 class="title">Wybierz produkty</h1>
    </ion-nav-title>

    <ion-nav-buttons side="primary">
      <button class="button button-clear button-small" ui-sref="ionic.delivery">
        Dalej
      </button>
    </ion-nav-buttons>

	  <fab-button target-id="chooseTemplate" class="button button-assertive" ui-sref="ionic.new">
      <i class="icon ion ion-android-add"></i>
    </fab-button>

    <ion-content>
      <div id="chooseTemplate" class="padding">
        <div class="card" ng-repeat="product in chooseCtrl.selectedProducts" ng-init="product.count = 0">
          <div class="item item-text-wrap">
            <div class="card-header">
              <h3>{{product.name}} <small>({{product.unit}})</small></h3>
              <div class="card-header-icons">
                <a class="button button-small button-icon icon ion-trash-b assertive icon-custom-md" ng-click="chooseCtrl.deleteProduct(product)"></a>
                <a class="button button-small button-icon icon ion-gear-a dark icon-custom-md ng-hide"></a>
              </div>
            </div>
            <div class="counts-container">
              <p ng-class="{'cound-danger': product.count > 10}">{{product.count}} szt.</p>
              <div class="buttons-wrapper">
                <button class="button button-small button-clear" ng-click="chooseCtrl.addCount(product)">
                  <i class="icon ion-plus-round"></i>
                </button>
                <button class="button button-small button-clear" ng-click="chooseCtrl.substractCount(product)">
                  <i class="icon ion-minus-round"></i>
                </button>
              </div>
            </div>
          </div>
        </div>

        <div class="card" ng-if="chooseCtrl.selectedProducts.length < 1">
          <div class="item item-text-wrap">
            <h3>Nie wybrano żadnych produktów</h3>
          </div>
        </div>
      </div>
    </ion-content>

</ion-view>